img {
    border: 0
}

div {
    position: absolute;
}

.dragclass {
    position: relative;
}

html,
body {
    height: 100%;
    margin: 0;
    transition: 1s;
    background-color:#000;
}

img {
  opacity: 0;
  transition: opacity 2s;
}

#hex-image, 
#cv-image, 
#projects-image, 
#t100-image, 
#lambda-image, 
#rants-image, 
#gallery-image {
    transition: all 2s ease;
}

#hex-image:hover {
    content: url('./img/titles/hex_hover.png');
}

#cv-image:hover {
    content: url('./img/titles/cv_hover.png');
}

#projects-image:hover {
    content: url('./img/titles/projects_hover.png');
}

#t100-image:hover {
    content: url('./img/titles/100_hover.png');
}

#lambda-image:hover {
    content: url('./img/titles/more_hover.png');
}

#rants-image:hover {
    content: url('./img/titles/rants_hover.png');
}

#gallery-image:hover {
    content: url('./img/titles/gallery_hover.png');
}
